<%= render "posts/navbar" %>

<div class="container messages">

  <%= link_to "&larr; Back".html_safe, conversations_path %>

  <% if @over_ten %>
    <%= link_to 'Show Previous', '?m=all' %>
  <% end %>

  <% @messages.each do |message| %>
    <% if message.body %>
      <% user = User.find(message.user_id) %>

      <% if current_user.id == message.user_id %>
        <h5 class="current"><%= user.fullname %></h5>
      <%else%>
        <h5><%= user.fullname %></h5>
      <%end%>

      <h6>Sent <%= message.message_time %></h6>
      <i class="right triangle icon"></i>
      <p class="lead"><%= message.body %></p>
    <% end %>
  <% end %>

  <%= form_for [@conversation, @message] do |f| %>
    <div class="field emoji-picker-container">
      <%= f.text_area :body, class: "form-control", data: {emojiable: true} %>
    </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden" %><br>
    <%= f.submit "Add Reply", :class => "btn btn-default" %>
  <% end %>

</div>
