<%= render "posts/navbar" %>


<div class="newPost">
  <%= link_to "&larr; Back".html_safe, posts_path %>
  <% if current_user %>
    <h2>New Comment</h2>
    <%= render "form" %>
  <%else%>
    <h3><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> to create a new comment!</h3>
  <%end%>

</div>
