<%= render "posts/navbar" %>

<div class="container">

  <%= link_to "&larr; Back".html_safe, posts_path %>

  <% if current_user %>

  <h3>Inbox:</h3>

  <% @conversations.each do |conversation| %>
    <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
      <% if conversation.sender_id == current_user.id %>
        <% recipient = User.find(conversation.recipient_id) %>
      <% else %>
        <% recipient = User.find(conversation.sender_id) %>
      <% end %>

      <h5><%= link_to recipient.fullname, conversation_messages_path(conversation)%></h5>
    <% end %>
  <% end %>

  <div class="divider"></div>

  <h3>All Users</h3>
<!--
    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <%= user.fullname %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
      <% end %>
    <% end %> -->

  <%=render 'form'%>

  <%else%>

    <h3><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> to create send messages!</h3>

  <%end%>


</div>
