<%= render "posts/navbar" %>

<div class="container">

  <h3>Inbox: <%=@conversations.count%></h3>

  <% @conversations.each do |conversation| %>
    <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
      <% if conversation.sender_id == current_user.id %>
        <% recipient = User.find(conversation.recipient_id) %>
      <% else %>
        <% recipient = User.find(conversation.sender_id) %>
      <% end %>

      <h5><%= link_to recipient.fullname, conversation_messages_path(conversation)%></h5>
    <% end %>
  <% end %>

  <div class="divider"></div>

  <h3>All Users</h3>

    <% @users.each do |user| %>
      <% if user.id != current_user.id %>
        <%= user.fullname %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
      <% end %>
    <% end %>

  <%=render 'form'%>

</div>
