<%= render "posts/navbar" %>

<div class="container">

<%= link_to "&larr; Back".html_safe, user_path %>

  <% if current_user %>
    <% if current_user.fullname == "" %>
      <h3><%= "Hi There!" %></h3>
    <%else%>
      <h3><%= "Hi, #{current_user.fullname}" %></h3>
    <%end%>

    <div class="divider"></div>

    <%= render "form" %>

    <div class="divider"></div>

    <%= link_to "Sign Out", "/signout" %> <br>


  <% else %>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>

</div>

