<%= render "posts/navbar" %>

<div class="profile">

<% if current_user %>
  <% if @user['fullname'] == current_user.fullname %>

   <% if current_user.fullname == "" %>
      <h1 class="welcome"><%= "Hi There!" %></h1>
    <%else%>
      <h1 class="welcome"><%= "Hi, #{current_user.fullname}" %></h1>
    <%end%>

    <div>
      <h5><a href ="<%=current_user.id%>/edit">Edit Profile</a></h5>
    </div>

  <%end%>

    <% if @user['fullname'] != current_user.fullname %>
      <h1><%= @user['fullname'] %></h1>
    <% end %>

  <%else%>
  <h1><%= @user['fullname'] %></h1>

  <% end %>

  <div class="dividerComment"></div>

  <div class="optionsMiddle">
    <img src= <%=@user.image%> /> <br>
    <strong>Full Name: </strong><p><%= @user['fullname'] %></p><br>
    <strong>Bio:</strong> <p><%= @user['bio'] %></p><br>
    <strong>Contact:</strong> <p><%= @user['contact'] %></p><br>
  </div>

  <div class="dividerComment"></div>

<% if current_user %>

  <div class="optionsBottom">
    <% if @user['fullname'] == current_user.fullname %>

      <%= link_to "Sign Out", "/signout" %> <br>
    <% end %>
  </div>

<% end %>

</div>
