<%= render "posts/navbar" %>

<div class="profile">


<% if current_user %>
  <% if @user['fullname'] == current_user.fullname %>

   <% if current_user.fullname == "" %>
      <h3><%= "Hi There!" %></h3>
    <%else%>
      <h3><%= "Hi, #{current_user.fullname}" %></h3>
    <%end%>

    <div>
      <h5><a href ="<%=current_user.id%>/edit">Edit Profile</a></h5>
    </div>

  <%end%>

    <% if @user['fullname'] != current_user.fullname %>
      <h3><%= @user['fullname'] %></h3>
    <% end %>

  <%else%>
  <h3><%= @user['fullname'] %></h3>

  <% end %>

  <hr>

  <div class="optionsMiddle">
    Full Name: <p><%= @user['fullname'] %></p><br>
    Bio: <p><%= @user['bio'] %></p><br>
    Contact: <p><%= @user['contact'] %></p><br>
  </div>

  <hr>

<% if current_user %>

  <div class="optionsBottom">
    <% if @user['fullname'] == current_user.fullname %>
      <h6><%= link_to "Delete Account", current_user, method: :delete %></h6> <br>
      <h6><%= link_to "Sign Out", "/signout" %></h6> <br>
    <% end %>
  </div>

<% end %>

</div>
