<%= render "posts/navbar" %>

<div class="container user">

<%= link_to "&larr; Back".html_safe, users_path %>

<% if current_user %>
  <% if @user['fullname'] == current_user.fullname %>

    <% if current_user.fullname == "" %>
      <h3><%= "Hi There!" %></h3>
    <%else%>
      <h3><%= "Hi, #{current_user.fullname}" %></h3>
    <%end%>

    <div>
      <h5><a href ="<%=current_user.id%>/edit">Edit Profile</a></h5>
    </div>

  <%end%>

  <% if @user['fullname'] != current_user.fullname %>
    <h3><%= @user['fullname'] %></h3>
  <% end %>

<%else%>
  <h3><%= @user['fullname'] %></h3>

<% end %>

  <div class="divider"></div>


    <h6>Full Name: </h6> <%= @user['fullname'] %><br>
    <h6>Bio:</h6> <%= @user['bio'] %><br>
    <h6>Contact:</h6> <%= @user['email'] %><br>
    <% if @user['fullname'] == current_user.fullname %>
      <h6><%= link_to 'Check your inbox', conversations_path %></h6><br>
    <%else%>
      <h6><%= link_to 'Message user!', conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post'%></h6><br>
    <%end%>
    <%= image_tag @user.avatar.url(:medium) %>


  <div class="divider"></div>

  <% if current_user %>
    <% if @user['fullname'] == current_user.fullname %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
    <% end %>
  <% end %>

</div>
