
<%= form_for @post do |f| %>
  <%= f.label :title %><br>
  <div class="emoji-picker-container">
    <%= f.text_field :title, class: 'form-control', data: {emojiable: true} %><br>
  </div><br>
  <%= f.label :content %><br>
  <div class="emoji-picker-container">
    <%= f.text_area :content, class: 'form-control', data: {emojiable: true} %><br>
  </div><br>
  <%= f.label :Add_image %><br>
  <%= f.file_field :image_upload %><br>
  <%= f.submit "Create Post", :class => "btn btn-default" %>
<% end %>
