<%= render "navbar" %>



<div class="container center">
  <% @posts.each do |post| %>
    <article>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <% if post.user.fullname == "" %>
        <h6>By <a href="users/<%=post.user['id']%>"><%= post.user.email %></a> | Posted on <%= post.created_at.to_date %> | Comments: <%= post.comments.count %> </h6>
      <%else%>
        <h6>By <a href="users/<%=post.user['id']%>"><%= post.user.fullname %></a> | Posted on <%= post.created_at.to_date %> | Comments: <%= post.comments.count %> </h6>
      <%end%>
      <p class="lead"><%= truncate post.content, length: 300 %></p>
      <%= link_to 'Read More', post %>
    </article>
    <div class="midDivider"></div>
  <% end %>
</div>
