<%= render "navbar" %>

<div class="container post">

  <%= link_to "&larr; Back".html_safe, posts_path %>

  <article>

    <h2><%= @post.title %></h2>

    <% if @post.user.fullname == "" %>
      <h6>By <a href="/users/<%=@post.user['id']%>"><%= @post.user.email %></a> | Posted on <%= @post.created_at.to_date %></h6>
    <%else%>
      <h6>By <a href="/users/<%=@post.user['id']%>"><%= @post.user.fullname %></a> | Posted on <%= @post.created_at.to_date %></h6>
    <%end%>

    <p class="lead"><%= @post.content %></p>
    <%= image_tag @post.image_upload.url(:croppable) %><br>
      <% if current_user %>
        <% if current_user.id == @post.user_id %>
          <%= link_to "Edit", edit_post_path(@post) %> |
          <%= link_to "Delete", post_path(@post), method: :delete %>
        <%end%>
      <%end%>

    <div class="divider"></div>

    <h4><%= @post.comments.count %> Replies</h4>

    <% if current_user %>
      <%= form_for [@post, Comment.new] do |f| %>
        <div class="emoji-picker-container">
          <%= f.text_area :content, placeholder: "Add a comment", class: 'form-control', data: {emojiable: true} %>
        </div><br>
        <%= f.submit "Add Comment", :class => "btn btn-default" %><br>
      <% end %>
    <%else%>
      <h6><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %> to add a comment!</h6>
    <%end%>

    <ul>
      <%= render(partial: 'comments/comment', collection: @post.comments) %>
    </ul>

  </article>
</div>
